body {
    background: #11161f;
}
.w3-animate-left {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

.w3-animate-right {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

.w3-animate-bottom {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

#Group_1 {
    width: 100%;
    overflow: visible;
    position: relative;
}

#Rectangle_1 {
    position: absolute;
    -webkit-animation: animation-logo 2.5s;
    animation: animation-logo 2.5s;
}

#Rectangle_2 {
    position: absolute;
    -webkit-animation: animation-logo-2 3.5s;
    animation: animation-logo-2 3.5s;
}

@-webkit-keyframes animation-logo {
    from {
        left: -300px;
        opacity: 0;
        transform: translate(-300px, 28px);
        -webkit-transform: translate(-300px, 28px);
        -moz-transform: translate(-300px, 28px);
        -ms-transform: translate(-300px, 28px);
        -o-transform: translate(-300px, 28px);
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animation-logo {
    from {
        left: -300px;
        opacity: 0;
        transform: translate(-300px, 28px);
        -webkit-transform: translate(-300px, 28px);
        -moz-transform: translate(-300px, 28px);
        -ms-transform: translate(-300px, 28px);
        -o-transform: translate(-300px, 28px);
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes animation-logo-2 {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animation-logo-2 {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

.group-image-page-4 {
    margin-top: -180px;
}

.image-button-2-size {
    width: 30%;
    top: -45px;
    position: absolute;
    left: 105px;
    z-index: 1;
}

.card-red-page-2 {
    width: 320px;
    top: -340px;
    right: -235px;
    background-color: #EA2330;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card-text {
    margin-top: 50px;
}

.image-button-4-size {
    width: 30%;
    top: -45px;
    position: absolute;
    left: 125px;
    z-index: 1;
}

.card-red-page-4 {
    left: 815px;
    width: 348px;
    top: 160px;
    right: 0px;
    background-color: #EA2330;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 1;
}


img {
    width: 100%;
}

svg {
    width: 100%;
}

.text-under-name-section-1 {
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #C5CCD2;
}

.text-section-1 {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #8F979E;
}

.text-section-1-right {
    margin-top: -22px;
}

.text-section-1-left {
    margin-top: -8px;
}

.group-text-section-1-right {
    float: right;
}

.bg-section-1 {
    background-image: url(../images/section-1/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-1 {
    margin-top: 109px;
}


.image-page-section-1 {
    margin-top: 32px;
}


.bg-section-2 {
    background-image: url("../images/section-2/sven-mieke-optBC2FxCfc-unsplash.png");
    z-index: 1;
    height: 100vh;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-section-2::before {
    background: #11161f;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(26%, rgba(17, 22, 31, 0.8)), color-stop(65%, #11161f));
    background: linear-gradient(180deg, rgba(17, 22, 31, 0.8) 26%, #11161f 65%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}


.image-page-2-size {
    width: 90%;
    margin-top: -372px;
    margin-left: 375px;;
}

.image-page-3-size {
    width: 100%;
    margin-top: 150px;
    margin-left: 0px;
}

.relative-image-page-2 {
    position: relative;
}


.text-topic {
    color: #fff;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.hr-custom-present {
    border: 0;
    background-color: red;
    width: 10px;
    height: 50px;
}
.hr-custom-summary {
    border: 0;
    background-color: red;
    width: 50px;
    height: 10px;
    margin-left: 180px;
}

.group-text-order {
    margin-top: -180px;
}

.section-2 {
    margin-top: 190px;
    position: relative;
}

.text-section-2-line1 {
    margin-top: 40px;
}

.text-section-2-line2 {
    margin-top: 31px;
}

.text-section-2-line3 {
    margin-top: 31px;
}


.bg-section-3 {
    background-image: url(../images/section-3/bg-section-3.svg);
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: -128px;
}

.text-page-3 {
    color: #fff;
}

.group-text-page-3 {
    margin-left: 770px;
    margin-top: -365px;
}


.bg-section-4-2 {
    background-image: url(../images/section-4/bg-1or2.png);
    z-index: 1;
    height: 100vh;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-section-4-3 {
    background-image: url(../images/section-4/bg-3.png);
    z-index: 1;
    height: 100vh;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text-under-topic-about{
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #8F979E;
}

.hr-custom-about {
    border: 0;
    background-color: red;
    width: 50px;
    height: 10px;
    margin-top: 88px;
    margin-left: 0;
  }

  .bg-section-5 {
    background-image: url("../images/footer.png");
    z-index: 1;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer {
    color: #fff;
    margin-top: 100px;
  }
  
  .text-footer {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .image-page-4-size-button {
    width: 15%;
    margin-top: -75px;
    position: absolute;
    margin-left: 765px;
    z-index: 1;
  }






  
@media (max-width: 1550px) {
    .image-page-2-size {
        width: 85%;
        margin-top: -370px;
        margin-left: 365px;
    }

    .image-page-3-size {
        width: 90%;
        margin-top: 150px;
        margin-left: 0px;
    }

    .text-summary {
        margin-left: 30px;
    }

    .hr-custom-summary {
        margin-left: 205px;
    }

    .bg-section-3 {
        margin-top: -80px;
    }

    .group-text-page-3 {
        margin-left: 680px;
        margin-top: -365px;
    }

    .image-page-4-size-button {
        width: 30%;
        margin-top: -75px;
        position: absolute;
        margin-left: 765px;
        z-index: 1;
    }
    
    .card-red-page-2 {
        top: -320px;
        right: -210px;
    }

    .image-button-4-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 125px;
        z-index: 1;
    }
    
    .card-red-page-4 {
        left: 790px;
        width: 348px;
    }
}

@media (max-width: 1440px) {
    .image-page-2-size {
        width: 70%;
        margin-top: -360px;
        margin-left: 370px;
    }
    

    .image-page-3-size {
        width:80%;
        margin-top: 150px;
        margin-left: 0px;
    }

    .text-summary {
        margin-left: 30px;
    }

    .hr-custom-summary {
        margin-left: 205px;
    }

    .group-text-page-3 {
        margin-left: 600px;
        margin-top: -330px;
    }

    .image-page-4-size-button {
        width: 30%;
        margin-top: -75px;
        position: absolute;
        margin-left: 765px;
        z-index: 1;
    }

    .card-red-page-2 {
        top: -255px;
        right: -215px;
        font-size: 18px;
    }

    .image-button-4-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 125px;
        z-index: 1;
    }
    
    .card-red-page-4 {
        left: 765px;
        width: 348px;
    }

    

}


@media (max-width: 1199.98px) {

    .text-topic {
        font-size: 40px;
    }

    .text-under-name-section-1 {
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #C5CCD2;
    }
    
    .text-section-1 {
        font-family: 'Karla', sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #8F979E;
    }
    .text-section-1-right {
        margin-top: -15px;
    }

    .image-page-2-size {
        width: 65%;
        margin-top: -265px;
        margin-left: 345px;
    }

    .image-page-3-size {
        width: 80%;
        margin-top: 150px;
        margin-left: -15px;
    }

    .group-text-page-3 {
        margin-left: 580px;
        margin-top: -320px;
    }

    .image-page-4-size-button {
        width: 30%;
        margin-top: -75px;
        position: absolute;
        margin-left: 650px;
        z-index: 1;
    }

    .card-red-page-2 {
        top: -200px;
        right: 0px;
    }

    .image-button-4-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 125px;
        z-index: 1;
    }
    
    .card-red-page-4 {
        left: 590px;
        width: 348px;
    }

}

@media (min-width: 992px) {}

@media (max-width: 991.98px) {
    .text-under-name-section-1 {
        font-family: 'Karla', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #C5CCD2;
    }
    
    .text-section-1 {
        font-family: 'Karla', sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: #8F979E;
    }

    .text-under-topic-about {
        font-size: 12px;
    }

    .text-page-3 {
        font-size: 12px;
    }

    .image-page-2-size {
        width: 50%;
        top: -405px;
        left: 285px;
    }

    .image-page-3-size {
        width: 70%;
        margin-top: 150px;
        margin-left: -15px;
    }

    .text-topic {
        font-size: 30px;
    } 

    .section-2 {
        margin-top: 10px;
    }

    .text-summary {
        margin-left: 360px;
        margin-top:50px;
    }

    .hr-custom-summary {
        margin-left: 468px;
    }

    .group-text-page-3 {
        margin-left: 470px;
        margin-top: -275px;
    }

    .hr-custom-about {
        margin-top: 20px;
    }
    .group-text-section-4 {
        margin-top: -50px;
    }

    .image-page-4-size-button {
        width: 50%;
        margin-top: -45px;
        margin-left: 175px;
        margin-bottom: 30px;
        position: unset;
    }

    .card-red-page-2 {
        top: 20px;
        right: 0px;
        font-size: 16px;
    }

    .group-text-order {
        margin-top: -30px;
    }

    .image-button-4-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 125px;
        z-index: 1;
    }
    
    .card-red-page-4 {
        left: 180px;
        width: 348px;
        top: -30px;
    }

    .group-image-page-4 {
        margin-top: 40px;
    }
}

@media (max-width: 768px) {
    .text-topic {
        font-size: 30px;
    }

    .image-page-2-size {
        width: 65%;
        margin-top: -196px;
        margin-left: 265px;
    }
    .text-under-name-section-1 {
        font-size: 16px;
    }

    .group-text-page-3 {
        margin-left: 450px;
        margin-top: -165px;
    }

    .image-page-4-size-button {
        width: 50%;
        margin-top: -45px;
        margin-left: 100px;
        margin-bottom: 30px;
    }

    .image-button-4-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 125px;
        z-index: 1;
    }
    
    .card-red-page-4 {
        left: 85px;
        width: 348px;
        top: -30px;
    }

    .text-button-4 {
        margin-top: 40px !important;
    }

    .group-image-page-4 {
        margin-top: 40px;
    }
}

@media (max-width: 767.98px) {
    .group-text-section-1-right {
        float: left;
    }

    .image-page-2-size {
        width: 55%;
        margin-top: -230px;
        margin-left: 225px;
    }

    .image-page-3-size {
        width: 80%;
        margin-top: 90px;
        margin-left: 0px;
    }

    .text-topic {
        font-size: 20px;
    } 

    .text-summary {
        margin-left: 255px;
        margin-top: -90px;
    }

    .hr-custom-summary {
        margin-left: 350px;
    }

    .bg-section-3 {
        margin-top: -50px;
    }
    .section-1 {
        margin-top: 30px;
    }

    .group-text-page-3 {
        margin-left: 0px;
        margin-top: 45px;
    }

    .card-red-page-2 {
        top: 20px;
        right: 0px;
        font-size: 14px;
        width: 200px;
    }

    .card-text {
        margin-top: 10px;
    }

    .group-text-order {
        margin-top: 80px;
        margin-right: 0px;
    }

    .image-button-2-size {
        top: -30px;
        left: 70px;
    }

    .text-button-4 {
        font-size: 14px;
    }

    
}

@media (max-width: 575.98px) {
    .text-under-name-section-1 {
        font-family: 'Karla', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #C5CCD2;
    }
    
    .text-section-1 {
        font-family: 'Karla', sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: #8F979E;
    }

    #Group_1 {
        width: 70%;
    }

    .group-text-section-1-right {
        float: left;
    }

    .image-page-2-size {
        width: 80%;
        margin-top: 15px;
        margin-left: 40px;
    }

    .image-page-3-size {
        width: 80%;
        margin-top: 90px;
        margin-left: 70px;
    }

    .text-summary {
        margin-top: 10px;
    }

    .bg-section-3 {
        margin-top: -30px;
    }

    .footer {
        margin-top: 30px;
      }
      .text-footer {
        margin-top: 10px;
        margin-bottom: 20px;
        font-size: 8px !important;
      }

      .image-page-4-size-button {
        width: 50%;
        margin-top: -45px;
        margin-left: 100px;
        margin-bottom: 30px;
    }

    .card-red-page-2 {
        left: 75px;
        top: 80px;
        font-size: 14px;
        width: 280px;
    }

    .image-button-2-size {
        top: -40px;
        left: 100px;
    }

    .group-text-order {
        margin-top: 130px;
    }

    .card-text {
        margin-top: 25px;
    }

    .image-page-4-size-button {
        width: 50%;
        margin-top: -45px;
        margin-left: 100px;
        margin-bottom: 30px;
    }

    .image-button-4-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 125px;
        z-index: 1;
    }
    
    .card-red-page-4 {
        left: 50px;
        width: 348px;
        top: -30px;
    }

    .text-button-4 {
        margin-top: 40px !important;
        font-size: 14px;
    }

    .group-image-page-4 {
        margin-top: 40px;
    }
}


@media (max-width: 460px) {
    .text-topic {
        font-size: 18px;
    }
    .image-page-2-size {
        width: 80%;
        margin-top: 15px;
        margin-left: 40px;
    }

    .text-summary {
        margin-left: 160px;
    }

    .hr-custom-summary {
        margin-left: 235px;
    }

    .section-1 {
        margin-top: 30px;
    }

    .card-red-page-2 {
        left: 15px;
        top: 80px;
        font-size: 14px;
        width: 280px;
    }

    .card-red-page-2 {
        left: 75px;
        top: 80px;
        font-size: 14px;
        width: 280px;
    }

    .image-button-2-size {
        top: -40px;
        left: 100px;
    }

    .group-text-order {
        margin-top: 130px;
    }

    .card-text {
        margin-top: 25px;
    }

    .image-page-4-size-button {
        width: 50%;
        margin-top: -45px;
        margin-left: 100px;
        margin-bottom: 30px;
    }

    .image-button-4-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 105px;
        z-index: 1;
    }
    
    .card-red-page-4 {
        left: 40px;
        width: 300px;
        top: -30px;
    }

    .text-button-4 {
        margin-top: 40px !important;
    }

    .group-image-page-4 {
        margin-top: 40px;
    }

}

@media (max-width: 430px) {


}



@media (max-width: 340px) {
    .text-topic {
        font-size: 20px;
    }
    .image-page-2-size {
        width: 85%;
        margin-top: 15px;
        margin-left: 20px;
    }

    .image-page-3-size {
        margin-left: 35px;
    }

    
    .text-summary {
        margin-left: 70px;
    }

    .hr-custom-summary {
        margin-left: 145px;
    }

    .image-page-4-size-button {
        width: 30%;
        margin-top: -830px;
        margin-left: 290px;
    }

    .image-page-4-size-button {
        width: 70%;
        margin-top: -65px;
        margin-left: 50px;
        margin-bottom: 30px;
    }

    .card-red-page-2 {
        left: -5px;
        top: 80px;
        font-size: 14px;
        width: 280px;
    }

    .image-button-2-size {
        top: -40px;
        left: 100px;
    }

    .group-text-order {
        margin-top: 130px;
    }

    .card-text {
        margin-top: 25px;
    }

    
    .image-page-4-size-button {
        width: 50%;
        margin-top: -45px;
        margin-left: 100px;
        margin-bottom: 30px;
    }

    .image-button-4-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 105px;
        z-index: 1;
    }
    
    .card-red-page-4 {
        left: 10px;
        width: 280px;
        top: -30px;
    }

    .text-button-4 {
        margin-top: 40px !important;
    }

    .group-image-page-4 {
        margin-top: 40px;
    }

}