.bg-section-1 {
  background-image: url("../images/bg-section-1.svg");
  z-index: 1;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  width: 405px;
  margin: auto;
}

.section-1 {
  margin-top: 109px;
}

.section-1 .text-under-name-head {
  font-family: 'Karla', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #C5CCD2;
}

.section-1 .text-head {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #8F979E;
}

.section-1 .text-head-right {
  margin-top: -22px;
}

.section-1 .group-under-logo {
  margin-top: 60px;
}

.section-1 .image-page-header {
  margin-top: 40px;
}

.bg-section-2 {
  background-image: url("../images/sven-mieke-optBC2FxCfc-unsplash.svg");
  z-index: 1;
  height: 100vh;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.bg-section-2::before {
  background: #11161f;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(26%, rgba(17, 22, 31, 0.8)), color-stop(65%, #11161f));
  background: linear-gradient(180deg, rgba(17, 22, 31, 0.8) 26%, #11161f 65%);
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
}

.hr-custom-present {
  border: 0;
  background-color: red;
  width: 10px;
  height: 50px;
}

.hr-custom-summary {
  border: 0;
  background-color: red;
  width: 50px;
  height: 10px;
  margin-left: 180px;
}

.hr-custom-about {
  border: 0;
  background-color: red;
  width: 50px;
  height: 10px;
  margin-top: 88px;
  margin-left: 0;
}

.text-topic-present {
  color: #fff;
  font-size: 50px;
  margin-top: 58px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style: italic;
}

.text-topic-summary {
  color: #fff;
  font-size: 50px;
  margin-top: 58px;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-style: italic;
}

.section-2 {
  position: relative;
  margin-top: 190px;
}

.section-2 .text-detail-under-topic {
  font-family: 'Karla', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: #C5CCD2;
}

.section-2 .text-detail {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #8F979E;
}

.section-2 .text-detail-right {
  margin-top: -22px;
}

.section-2 .image-page-2-size {
  width: 80%;
  margin-top: -250px;
  margin-left: 380px;
}

.bg-section-3 {
  background-image: url("../images/bg-section-3-1.svg");
  z-index: 1;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: -128px;
}

.image-page-3 {
  margin-left: -95px;
  margin-top: 135px;
}

.text-page-3 {
  color: #fff !important;
}

.text-page-3-line-1 {
  margin-top: 380px;
}

.bg-section-4 {
  background-image: url("../images/bg-section-4-2.svg");
  z-index: 1;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-under-topic-about {
  font-family: 'Karla', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #8F979E;
}

.image-section-4 {
  margin-top: -2.5px;
}

.image-page-4-size {
  width: 100%;
}

.bg-section-5 {
  background-image: url("../images/footer.png");
  z-index: 1;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.footer {
  color: #fff;
  margin-top: 100px;
}

.text-footer {
  margin-top: 30px;
  margin-bottom: 40px;
}

.w3-animate-left {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

.w3-animate-right {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

.w3-animate-bottom {
  -webkit-animation-duration: 2.5s;
          animation-duration: 2.5s;
}

#Group_1 {
  width: 100%;
  overflow: visible;
  position: relative;
}

#Rectangle_1 {
  position: absolute;
  -webkit-animation: test 2.5s;
  animation: test 2.5s;
}

#Rectangle_2 {
  position: absolute;
  -webkit-animation: test 2.5s;
  animation: test 2.5s;
}

@-webkit-keyframes test {
  from {
    left: -300px;
    opacity: 0;
    transform: translate(-300px, 28px);
    -webkit-transform: translate(-300px, 28px);
    -moz-transform: translate(-300px, 28px);
    -ms-transform: translate(-300px, 28px);
    -o-transform: translate(-300px, 28px);
  }
  to {
    left: 0;
    opacity: 1;
  }
}

@keyframes test {
  from {
    left: -300px;
    opacity: 0;
    transform: translate(-300px, 28px);
    -webkit-transform: translate(-300px, 28px);
    -moz-transform: translate(-300px, 28px);
    -ms-transform: translate(-300px, 28px);
    -o-transform: translate(-300px, 28px);
  }
  to {
    left: 0;
    opacity: 1;
  }
}

/* @media (min-width: 2560px) {
  .bg-section-3 {
    margin-top: -200px;
  }
  .image-page-3 {
    margin-top: 220px;
  }
  .text-page-3-line-1 {
    margin-top: 465px;
  }
}

@media (max-width: 1440px) {
  .image-section-4 {
    margin-top: -30px;
  }
}

@media (min-width: 1270px) {
    .section-2 .image-page-2-size {
      width: 80%;
      margin-top: -250px;
      margin-left: 295px;
  }
}
 */

@media (max-width: 1199.98px) {
  .section-2 .image-page-2-size {
    width: 80%;
    margin-top: -300px;
    margin-left: 230px;
  }
  .section-2 .text-detail-under-topic {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #C5CCD2;
  }
  .section-2 .text-detail {
    font-family: 'Karla', sans-serif;
    font-size: 12px;
    font-weight: 400;
    color: #8F979E;
  }
  .section-2 .text-detail-right {
    margin-top: -22px;
  }
  .section-2 .image-page-2-size {
    width: 50%;
    margin-top: -150px;
    margin-left: 380px;
  }
  .text-topic-present {
    font-size: 30px;
    margin-top: 58px;
  }
  .text-topic-summary {
    font-size: 30px;
    margin-top: 50px;
  }
  .bg-section-2 {
    height: 50vh;
  }
  .bg-section-3 {
    margin-top: -144px;
  }
  .image-page-3 {
    width: 80%;
    margin-left: 50px;
    margin-top: 100px;
  }
  .group-text-page-3 {
    margin-left: 550px;
    margin-top: -410px;
  }
  .image-section-4 {
    margin-top: -70px;
  }
}

@media (max-width: 991.98px) {
  .section-1 .logo {
    width: 360px;
    margin: auto;
  }
  .section-1 .text-under-name-head {
    font-size: 21px;
  }
  .section-1 .text-head {
    font-size: 14px;
  }
  .section-1 .image-page-header {
    margin-top: 20px;
  }
  .text-under-topic-about {
    font-size: 14px;
  }
}

@media (min-width: 769px) {
  .group-text-page-3 {
    margin-left: 0;
    margin-top: -350px;
  }

  .section-2{
    margin-top: 0;
  }

  .section-2 .image-page-2-size {
    width: 80%;
    margin-top: 0px;
    margin-left: 80px;  
  }

  .text-topic-summary {
    font-size: 25px;
    margin-top: 50px;
    margin-left: 400px;
  }

  .hr-custom-summary {
    margin-left: 500px;
  }

  .text-about {
    margin-top: 0;
  }

  .group-text-page-3 {
    margin-bottom: 30px;
  }
  .group-text-section-4 {
    margin-bottom: 80px;
  }

  .image-section-4 {
    margin-top: -85px;
  }
}

@media (max-width: 768px) {
  .section-2 .image-page-2-size {
    width: 90%;
    margin-top: 0px;
    margin-left: 25px;
  }
  .text-topic-present {
    font-size: 25px;
    margin-top: 58px;
  }
  .text-topic-summary {
    font-size: 25px;
    margin-top: 30px;
    margin-left: 400px;
  }
  .section-3 .image-page-3-size {
    margin-top: 10px;
    margin-left: 0px;
  }
  .section-3 .text-page-3-line-1 {
    margin-top: 250px;
  }
  .hr-custom-summary {
    margin-left: 485px;
  }
}

@media (max-width: 769px) {
  .section-2 {
    margin-top: 50px;
  }
  .group-text-page-3 {
    margin-left: 0px;
    margin-top: -200px;
  }
  .bg-section-3 {
    margin-top: -110px;
  }
  .text-under-topic-about {
    font-size: 14px;
  }
  .image-section-4 {
    margin-top: -38px;
  }
  .hr-custom-about {
    margin-top: 20px;
  }
  .text-about {
    margin-top: 20px;
  }
  .image-page-3-size {
    width: 70%;
  }
}

@media (max-width: 575.98px) {
  .section-1 .logo {
    width: 230px;
    margin: auto;
  }
  .section-1 .text-under-name-head {
    font-size: 11px;
  }
  .section-1 .text-head {
    font-size: 9px;
  }
  .section-1 .text-head-right {
    margin-top: -18px;
  }
  .section-1 .text-head-left {
    margin-top: -8px;
  }
  .section-1 .group-under-logo {
    margin-top: 0px;
  }
  .section-1 .image-page-header {
    margin-top: 0px;
  }
  .text-under-topic-about {
    font-size: 9px;
  }
  .section-2 {
    margin-top: 50px;
  }
  .section-2 .image-page-2-size {
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
  }
  .section-2 .text-topic-present {
    font-size: 35px;
  }
  .section-2 .text-detail-under-topic {
    font-family: 'Karla', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #C5CCD2;
  }
  .section-2 .text-detail {
    font-family: 'Karla', sans-serif;
    font-size: 10px;
    font-weight: 400;
    color: #8F979E;
  }
  .section-2 .text-topic-summary {
    font-size: 25px;
    margin-top: 30px;
    margin-left: 100px;
  }
  .section-2 .hr-custom-summary {
    margin-left: 185px;
  }
  .bg-section-3 {
    margin-top: -215px;
  }
  .section-4 .image-page-4-size {
    width: 60%;
    margin-top: 16px;
    margin-left: 100px;
  }
  .footer {
    margin-top: 30px;
  }
  .text-footer {
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 8px !important;
  }
}

@media (max-width: 425px) {
  .image-section-4 {
    margin-top: 145px;
  }
}

@media (max-width: 375px) {
  .section-1 .logo {
    width: 190px;
    margin: auto;
  }
  .section-1 .text-under-name-head {
    font-size: 10px;
  }
  .section-1 .text-head {
    font-size: 8px;
  }
  .section-1 .text-head-left {
    margin-top: -13px;
  }
  .text-under-topic-about {
    font-size: 8px;
  }
  .text-page-3 {
    font-size: 8px;
  }
  .bg-section-3 {
    margin-top: -250px;
  }
  .section-4 .image-page-4-size {
    width: 50%;
    margin-top: -150px;
    margin-left: 93px;
  }
}

@media (max-width: 320px) {
  .section-1 .text-head {
    font-size: 6px;
  }
  .text-under-topic-about {
    font-size: 6px;
  }
  .section-4 .image-page-4-size {
    width: 45%;
    margin-top: -150px;
    margin-left: 74px;
  }
  .section-2 .text-topic-present {
    font-size: 20px;
  }
  .section-2 .text-topic-summary {
    font-size: 20px;
  }
  .text-about {
    font-size: 20px;
  }
  .bg-section-3 {
    margin-top: -350px;
  }
  .image-page-3 {
    margin-top: 40px;
  }
  .section-2 {
    margin-top: 10px;
  }

  .section-1 {
    margin-top: 9px;
}
}
/*# sourceMappingURL=custom-boss.css.map */