.w3-animate-left {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

.w3-animate-right {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

.w3-animate-bottom {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

#Group_1 {
    width: 100%;
    overflow: visible;
    position: relative;
}

#Rectangle_1 {
    position: absolute;
    -webkit-animation: animation-logo 2.5s;
    animation: animation-logo 2.5s;
}

#Rectangle_2 {
    position: absolute;
    -webkit-animation: animation-logo-2 3.5s;
    animation: animation-logo-2 3.5s;
}

@-webkit-keyframes animation-logo {
    from {
        left: -300px;
        opacity: 0;
        transform: translate(-300px, 28px);
        -webkit-transform: translate(-300px, 28px);
        -moz-transform: translate(-300px, 28px);
        -ms-transform: translate(-300px, 28px);
        -o-transform: translate(-300px, 28px);
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animation-logo {
    from {
        left: -300px;
        opacity: 0;
        transform: translate(-300px, 28px);
        -webkit-transform: translate(-300px, 28px);
        -moz-transform: translate(-300px, 28px);
        -ms-transform: translate(-300px, 28px);
        -o-transform: translate(-300px, 28px);
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes animation-logo-2 {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animation-logo-2 {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

img {
    width: 100%;
}

svg {
    width: 100%;
}

.text-under-name-section-1 {
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #C5CCD2;
}

.text-section-1 {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #8F979E;
}

.text-section-1-right {
    margin-top: -22px;
}

.text-section-1-left {
    margin-top: -8px;
}

.group-text-section-1-right {
    float: right;
}

.bg-section-1 {
    background-image: url(../images/section-1/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.image-page-section-1 {
    margin-top: 32px;
}

.section-1 {
    margin-top: 109px;
}


.bg-section-2 {
    background-image: url("../images/section-2/sven-mieke-optBC2FxCfc-unsplash.png");
    z-index: 1;
    height: 100vh;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-section-2::before {
    background: #11161f;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(26%, rgba(17, 22, 31, 0.8)), color-stop(65%, #11161f));
    background: linear-gradient(180deg, rgba(17, 22, 31, 0.8) 26%, #11161f 65%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.image-page-2-size {
    width: 80%;
    margin-top: -250px;
    margin-left: 430px;
}



.text-topic {
    color: #fff;
    font-size: 50px;
    margin-top: 58px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.hr-custom-present {
    border: 0;
    background-color: red;
    width: 10px;
    height: 50px;
}
.hr-custom-summary {
    border: 0;
    background-color: red;
    width: 50px;
    height: 10px;
    margin-left: 180px;
}

.text-summary {
    margin-left: 115px;
}

.section-2 {
    margin-top: 190px;
}

.text-section-2-line1 {
    margin-top: 40px;
}

.text-section-2-line2 {
    margin-top: 31px;
}

.text-section-2-line3 {
    margin-top: 31px;
}

  
@media (max-width: 1550px) {
    .image-page-2-size {
        width: 70%;
        margin-top: -340px;
        margin-left: 400px;
    }

    .text-summary {
        margin-left: 30px;
    }

    .hr-custom-summary {
        margin-left: 205px;
    }


}

@media (max-width: 1440px) {
    .image-page-2-size {
        width: 70%;
        margin-top: -340px;
        margin-left: 365px;
    }
    

    .text-summary {
        margin-left: 30px;
    }

    .hr-custom-summary {
        margin-left: 205px;
    }


}


@media (max-width: 1199.98px) {

    .text-under-name-section-1 {
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        font-weight: 400;
        color: #C5CCD2;
    }
    
    .text-section-1 {
        font-family: 'Karla', sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #8F979E;
    }
    .text-section-1-right {
        margin-top: -15px;
    }

    .image-page-2-size {
        width: 65%;
        margin-top: -340px;
        margin-left: 365px;
    }


}

@media (min-width: 992px) {}

@media (max-width: 991.98px) {
    .text-under-name-section-1 {
        font-family: 'Karla', sans-serif;
        font-size: 18px;
        font-weight: 400;
        color: #C5CCD2;
    }
    
    .text-section-1 {
        font-family: 'Karla', sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: #8F979E;
    }

    .image-page-2-size {
        width: 100%;
        margin-top: 10px;
        margin-left: 225px;
    }

    .text-topic {
        font-size: 30px;
    } 

    .section-2 {
        margin-top: 10px;
    }

    .text-summary {
        margin-left: 360px;
    }

    .hr-custom-summary {
        margin-left: 468px;
    }
}

@media (max-width: 768px) {
    .image-page-2-size {
        width: 70%;
        margin-top: 10px;
        margin-left: 225px;
    }
}

@media (max-width: 767.98px) {
    .group-text-section-1-right {
        float: left;
    }

    .image-page-2-size {
        width: 70%;
        margin-top: 10px;
        margin-left: 190px;
    }

    .text-topic {
        font-size: 25px;
    } 

    .text-summary {
        margin-left: 255px;
    }

    .hr-custom-summary {
        margin-left: 350px;
    }
}

@media (max-width: 575.98px) {
    .text-under-name-section-1 {
        font-family: 'Karla', sans-serif;
        font-size: 16px;
        font-weight: 400;
        color: #C5CCD2;
    }
    
    .text-section-1 {
        font-family: 'Karla', sans-serif;
        font-size: 12px;
        font-weight: 400;
        color: #8F979E;
    }

    #Group_1 {
        width: 70%;
    }

    .group-text-section-1-right {
        float: left;
    }

    .image-page-2-size {
        width: 60%;
        margin-top: 10px;
        margin-left: 180px;
    }
}

@media (max-width: 460px) {
    .text-topic {
        font-size: 20px;
    }
    .image-page-2-size {
        width: 60%;
        margin-top: 10px;
        margin-left: 150px;
    }

    .text-summary {
        margin-left: 160px;
    }

    .hr-custom-summary {
        margin-left: 235px;
    }
}

@media (max-width: 340px) {
    .text-topic {
        font-size: 20px;
    }
    .image-page-2-size {
        width: 60%;
        margin-top: 10px;
        margin-left: 100px;
    }

    
    .text-summary {
        margin-left: 70px;
    }

    .hr-custom-summary {
        margin-left: 145px;
    }
}