body {
    background: #11161f;
}
.w3-animate-left {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

.w3-animate-right {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

.w3-animate-bottom {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

#Group_1 {
    width: 100%;
    overflow: visible;
    position: relative;
}

#Rectangle_1 {
    position: absolute;
    -webkit-animation: animation-logo 2.5s;
    animation: animation-logo 2.5s;
}

#Rectangle_2 {
    position: absolute;
    -webkit-animation: animation-logo-2 3.5s;
    animation: animation-logo-2 3.5s;
}

@-webkit-keyframes animation-logo {
    from {
        left: -300px;
        opacity: 0;
        transform: translate(-300px, 28px);
        -webkit-transform: translate(-300px, 28px);
        -moz-transform: translate(-300px, 28px);
        -ms-transform: translate(-300px, 28px);
        -o-transform: translate(-300px, 28px);
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animation-logo {
    from {
        left: -300px;
        opacity: 0;
        transform: translate(-300px, 28px);
        -webkit-transform: translate(-300px, 28px);
        -moz-transform: translate(-300px, 28px);
        -ms-transform: translate(-300px, 28px);
        -o-transform: translate(-300px, 28px);
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes animation-logo-2 {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animation-logo-2 {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

img {
    width: 100%;
}

svg {
    width: 100%;
}

.text-under-name-section-1 {
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #C5CCD2;
}

.text-section-1 {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #8F979E;
}

.text-section-1-right {
    margin-top: -22px;
}

.text-section-1-left {
    margin-top: -8px;
}

.group-text-section-1-right {
    float: right;
}

.bg-section-1 {
    background-image: url(../images/section-1/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-1 {
    margin-top: 109px;
}


.image-page-section-1 {
    margin-top: 32px;
}


.bg-section-2 {
    background-image: url("../images/section-2/sven-mieke-optBC2FxCfc-unsplash.png");
    z-index: 1;
    height: 100vh;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-section-2::before {
    background: #11161f;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(26%, rgba(17, 22, 31, 0.8)), color-stop(65%, #11161f));
    background: linear-gradient(180deg, rgba(17, 22, 31, 0.8) 26%, #11161f 65%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

/* .image-section-2 {
    position: relative;
}

.image-section-2-size {
    left: 520px;
    top: 200px;
} */


/* .image-page-2-size {
    width: 80%;
    top: 120px;
    right: -180px;
    position: absolute;
}


.relative-image-page-2 {
    position: relative;
}



.hr-custom-present {
    border: 0;
    background-color: red;
    width: 10px;
    height: 50px;
}

.text-topic {
    color: #fff;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
}

.hr-custom-summary {
    border: 0;
    background-color: red;
    width: 50px;
    height: 10px;
    position: absolute;
    top: 720px;
    right: 200px;
}

.text-summary {
    color: #fff;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: 540px;
    right: 0;
}



.image-button-2-size {
    width: 30%;
    top: -45px;
    position: absolute;
    left: 105px;
    z-index: 1;
}

.card-red-page-2 {
    width: 320px;
    top: 540px;
    right: 165px;
    background-color: #EA2330;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card-text {
    margin-top: 50px;
} */



/* .image-button-4-size {
    width: 30%;
    top: -45px;
    position: absolute;
    left: 125px;
    z-index: 1;
}

.card-red-page-4 {
    left: 815px;
    width: 348px;
    top: 160px;
    right: 0px;
    background-color: #EA2330;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 1;
} */
@media (max-width: 1550px) {
    .image-page-2-size {
        width: 70%;
        top: 120px;
        right: -85px;
        position: absolute;
    }

    .hr-custom-summary {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        position: absolute;
        top: 625px;
        right: 200px;
    }
    
    .text-summary {
        color: #fff;
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        top: 460px;
        right: 0;
    }

    .card-red-page-2 {
        width: 320px;
        top: 490px;
        right: 165px;
    }
}

@media (max-width: 1325px) {
    .image-page-2-size {
        width: 60%;
        top: 120px;
        right: -35px;
        position: absolute;
    }

    .hr-custom-summary {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        position: absolute;
        top: 500px;
        right: 200px;
    }
    
    .text-summary {
        color: #fff;
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        top: 350px;
        right: 0;
    }

    .card-red-page-2 {
        width: 320px;
        top: 440px;
        right: 65px;
    }
}

@media (max-width: 1199.98px) {
    .hr-custom-summary {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        position: absolute;
        top: 365px;
        right: 200px;
    }
    
    .text-summary {
        color: #fff;
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        top: 200px;
        right: 0;
    }

    .card-red-page-2 {
        width: 320px;
        top: 560px;
        right: 325px;
    }
}

@media (min-width: 992px) {}

@media (max-width: 991.98px) {
    .image-page-2-size {
        left: 0px;
        width: 100%;
        top: 420px;
        position: absolute;
    }

    .hr-custom-summary {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        position: absolute;
        top: 1010px;
        left: 185px;
    }
    
    .text-summary {
        color: #fff;
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        top: 845px;
        left: 0;
    }

    .card-red-page-2 {
        width: 320px;
        top: 736px;
        left: 165px;
    }
}

@media (min-width: 768px) {}

@media (max-width: 767.98px) {
	body {
		font-size: 14px;
    }
    
    .group-text-section-1-right {
        float: left;
    }

    
    .hr-custom-summary {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        position: absolute;
        top: 840px;
        left: 185px;
    }
    
    .text-summary {
        color: #fff;
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        top: 675px;
        left: 0;
    }

    .card-red-page-2 {
        width: 320px;
        top: 580px;
        left: 70px;
    }
}

@media (max-width: 575.98px) {
    .image-page-2-size {
        left: 55px;
        width: 80%;
        top: 460px;
        position: absolute;
    }

    .hr-custom-summary {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        position: absolute;
        top: 840px;
        left: 185px;
    }
    
    .text-summary {
        color: #fff;
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        top: 675px;
        left: 0;
    }

    .card-red-page-2 {
        width: 320px;
        top: 580px;
        left: 70px;
    }
}

@media (max-width: 475.98px) {
    

    .hr-custom-summary {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        position: absolute;
        top: 760px;
        left: 185px;
    }
    
    .text-summary {
        color: #fff;
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        top: 590px;
        left: 0;
    }

    .card-red-page-2 {
        width: 320px;
        top: 490px;
        left: 35px;
    }
}

@media (max-width: 470px) {
    

    .hr-custom-summary {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        position: absolute;
        top: 690px;
        left: 115px;
    }
    
    .text-summary {
        color: #fff;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        top: 590px;
        left: 0;
    }

    .text-topic {
        color: #fff;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
    }

    .card-red-page-2 {
        width: 320px;
        top: 490px;
        left: 35px;
    }
}

@media (max-width: 450px) {
    
    .card-red-page-2 {
        width: 320px;
        top: 490px;
        left: 25px;
    }
}

@media (max-width: 430px) {
    
    .card-red-page-2 {
        width: 320px;
        top: 450px;
        left: 15px;
    }
}

@media (max-width: 398px) {

    .image-page-2-size {
        left: 50px;
        width: 80%;
        top: 420px;
        position: absolute;
    }
    
    
    .hr-custom-summary {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        position: absolute;
        top: 615px;
        left: 115px;
    }
    .card-red-page-2 {
        width: 320px;
        top: 400px;
        left: 15px;
    }
    .text-summary {
        color: #fff;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        top: 520px;
        left: 0;
    }
    
}

@media (max-width: 350px) {

    .image-page-2-size {
        left: 0px;
        width: 100%;
        top: 540px;
        position: absolute;
    }
    
    .card-red-page-2 {
        width: 280px;
        top: 400px;
        left: -10px;
    }

    .image-button-2-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 95px;
        z-index: 1;
    }
}


@media (max-width: 340px) {
    .image-page-2-size {
        left: 0px;
        width: 100%;
        top: 510px;
        position: absolute;
    }
}