.image-button-2-size {
    width: 30%;
    top: -45px;
    position: absolute;
    left: 105px;
    z-index: 1;
}

.card-red-page-2 {
    width: 320px;
    top: -340px;
    right: -235px;
    background-color: #EA2330;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card-text {
    margin-top: 50px;
}

.image-button-4-size {
    width: 30%;
    top: -45px;
    position: absolute;
    left: 125px;
    z-index: 1;
}

.card-red-page-4 {
    left: 815px;
    width: 348px;
    top: 160px;
    right: 0px;
    background-color: #EA2330;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    z-index: 1;
}