body {
    background: #11161f;
}
.w3-animate-left {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

.w3-animate-right {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

.w3-animate-bottom {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

#Group_1 {
    width: 100%;
    overflow: visible;
    position: relative;
}

#Rectangle_1 {
    position: absolute;
    -webkit-animation: animation-logo 2.5s;
    animation: animation-logo 2.5s;
}

#Rectangle_2 {
    position: absolute;
    -webkit-animation: animation-logo-2 3.5s;
    animation: animation-logo-2 3.5s;
}

@-webkit-keyframes animation-logo {
    from {
        left: -300px;
        opacity: 0;
        transform: translate(-300px, 28px);
        -webkit-transform: translate(-300px, 28px);
        -moz-transform: translate(-300px, 28px);
        -ms-transform: translate(-300px, 28px);
        -o-transform: translate(-300px, 28px);
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animation-logo {
    from {
        left: -300px;
        opacity: 0;
        transform: translate(-300px, 28px);
        -webkit-transform: translate(-300px, 28px);
        -moz-transform: translate(-300px, 28px);
        -ms-transform: translate(-300px, 28px);
        -o-transform: translate(-300px, 28px);
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes animation-logo-2 {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animation-logo-2 {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

img {
    width: 100%;
}

svg {
    width: 100%;
}

.text-under-name-section-1 {
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #C5CCD2;
}

.text-section-1 {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #8F979E;
}

.text-section-1-right {
    margin-top: -22px;
}

.text-section-1-left {
    margin-top: -8px;
}

.group-text-section-1-right {
    float: right;
}

/* .bg-section-1 {
    background-image: url(../images/section-1/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */

.bg-section-1 {
    background-image: url("../images/section-1/bg.svg");
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    /* background-color: #EA2330; */
    clip-path: polygon(0 1%, 100% 27%, 100% 100%, 0% 100%);
    margin-top: -265px;
    position: relative;
}

.section-1 {
    margin-top: 109px;
}


.image-page-section-1 {
    position: relative;
}

.image-page-section-1-size {

}


/* .bg-section-2 {
    background-image: url("../images/section-2/sven-mieke-optBC2FxCfc-unsplash.png");
    z-index: 1;
    height: 100vh;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-section-2::before {
    background: #11161f;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(26%, rgba(17, 22, 31, 0.8)), color-stop(65%, #11161f));
    background: linear-gradient(180deg, rgba(17, 22, 31, 0.8) 26%, #11161f 65%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.section-2 {
    margin-top: 190px;
}

.image-section-2 {
    position: relative;
}

.image-section-2-size {
    left: 520px;
    top: -270px;
}



.relative-image-section-2 {
    position: relative;
}



.hr-custom-present {
    border: 0;
    background-color: red;
    width: 10px;
    height: 50px;
}

.text-topic-present {
    color: #fff;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-top: 17px;
}

.hr-custom-summary {
    border: 0;
    background-color: red;
    width: 50px;
    height: 10px;
    position: absolute;
    top: -220px;
    right: 200px;
}

.text-summary {
    color: #fff;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: -380px;
    right: 0;
}



.image-button-2-size {
    width: 30%;
    top: -45px;
    position: absolute;
    left: 105px;
    z-index: 1;
}

.card-red-page-2 {
    width: 320px;
    top:-540px;
    right: -360px;
    background-color: #EA2330;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card-text {
    margin-top: 50px;
} */


.bg-section-3 {
    background-image: url("../images/section-3/bg-section-3.svg");
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #EA2330;
    clip-path: polygon(0 1%, 100% 27%, 100% 100%, 0% 100%);
    margin-top: -265px;

}

.group-parents-section-3 {
    align-items: center;
    padding-top: 80px;
}

.text-page-3 {
    color: #fff;
}



@media (max-width: 1550px) {}

@media (max-width: 1440px) {}

@media (max-width: 1199.98px) {}

@media (min-width: 992px) {}

@media (max-width: 991.98px) {}

@media (max-width: 768px) {}

@media (max-width: 767.98px) {}

@media (max-width: 575.98px) {}

@media (max-width: 460px) {}

@media (max-width: 430px) {}

@media (max-width: 340px) {}



