body {
    background: #11161f;
}
.w3-animate-left {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

.w3-animate-right {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

.w3-animate-bottom {
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
}

#Group_1 {
    width: 100%;
    overflow: visible;
    position: relative;
}

#Rectangle_1 {
    position: absolute;
    -webkit-animation: animation-logo 2.5s;
    animation: animation-logo 2.5s;
}

#Rectangle_2 {
    position: absolute;
    -webkit-animation: animation-logo-2 3.5s;
    animation: animation-logo-2 3.5s;
}

@-webkit-keyframes animation-logo {
    from {
        left: -300px;
        opacity: 0;
        transform: translate(-300px, 28px);
        -webkit-transform: translate(-300px, 28px);
        -moz-transform: translate(-300px, 28px);
        -ms-transform: translate(-300px, 28px);
        -o-transform: translate(-300px, 28px);
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animation-logo {
    from {
        left: -300px;
        opacity: 0;
        transform: translate(-300px, 28px);
        -webkit-transform: translate(-300px, 28px);
        -moz-transform: translate(-300px, 28px);
        -ms-transform: translate(-300px, 28px);
        -o-transform: translate(-300px, 28px);
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@-webkit-keyframes animation-logo-2 {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

@keyframes animation-logo-2 {
    from {
        left: -300px;
        opacity: 0;
    }
    to {
        left: 0;
        opacity: 1;
    }
}

img {
    width: 100%;
}

svg {
    width: 100%;
}

.text-under-name-section-1 {
    font-family: 'Karla', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #C5CCD2;
}

.text-section-1 {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #8F979E;
}

.text-section-1-right {
    margin-top: -22px;
}

.text-section-1-left {
    margin-top: -8px;
}

.group-text-section-1-right {
    float: right;
}

.bg-section-1 {
    background-image: url(../images/section-1/bg.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.section-1 {
    margin-top: 109px;
}


.image-page-section-1 {
    padding-top: 40px;
}


.bg-section-2 {
    background-image: url("../images/section-2/sven-mieke-optBC2FxCfc-unsplash.png");
    z-index: 1;
    height: 100vh;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-section-2::before {
    background: #11161f;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(26%, rgba(17, 22, 31, 0.8)), color-stop(65%, #11161f));
    background: linear-gradient(180deg, rgba(17, 22, 31, 0.8) 26%, #11161f 65%);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.section-2 {
    margin-top: 190px;
}

.image-section-2 {
    /* margin-top: 190px; */
    position: relative;
}

.image-section-2-size {
    left: 520px;
    top: -270px;
}



.relative-image-page-2 {
    position: relative;
}



.hr-custom-present {
    border: 0;
    background-color: red;
    width: 10px;
    height: 50px;
}

.text-topic-present {
    color: #fff;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-top: 17px;
}

.hr-custom-summary {
    border: 0;
    background-color: red;
    width: 50px;
    height: 10px;
    position: absolute;
    top: -220px;
    right: 200px;
}

.text-summary {
    color: #fff;
    font-size: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-style: italic;
    position: absolute;
    top: -380px;
    right: 0;
}



.image-button-2-size {
    width: 30%;
    top: -45px;
    position: absolute;
    left: 105px;
    z-index: 1;
}

.card-red-page-2 {
    width: 320px;
    top:-540px;
    right: -360px;
    background-color: #EA2330;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.card-text {
    margin-top: 50px;
}


.bg-section-3 {
    background-image: url("../images/section-3/bg-section-3.svg");
    z-index: 1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #EA2330;
    clip-path: polygon(0 1%, 100% 27%, 100% 100%, 0% 100%);
    margin-top: -265px;

}

.group-parents-section-3 {
    align-items: center;
    padding-top: 80px;
    position: relative;
}

.text-page-3 {
    color: #fff;
}

.bg-section-4-2 {
    background-image: url(../images/section-4/bg-1or2.png);
    z-index: 1;
    height: 100vh;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.bg-section-4-3 {
    background-image: url(../images/section-4/bg-3.png);
    z-index: 1;
    height: 100vh;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.text-under-topic-about{
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #8F979E;
}

.hr-custom-about {
    border: 0;
    background-color: red;
    width: 50px;
    height: 10px;
    margin-top: 250px;
    margin-left: 0;
  }

  .bg-section-5 {
    background-image: url("../images/footer.png");
    z-index: 1;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .footer {
    color: #fff;
    margin-top: 100px;
  }
  
  .text-footer {
    margin-top: 30px;
    margin-bottom: 40px;
  }

  .image-page-4-size-button {
    width: 15%;
    margin-top: -75px;
    position: absolute;
    margin-left: 765px;
    z-index: 1;
  }

  .card-red-page-4 {
    left: 815px;
    width: 348px;
    top: 160px;
    right: 0px;
    background-color: #EA2330;
    color: #fff;
    font-family: 'Karla', sans-serif;
    font-size: 20px;
    position: relative;
    border-radius: 5px;
    -webkit-border-radius: 5px;
}

.image-button-4-size {
    width: 30%;
    top: -45px;
    position: absolute;
    left: 125px;
    z-index: 1;
    border-radius: 50%;
    animation: ripple 1000ms infinite;
    -webkit-animation: ripple 1000ms infinite;
}

.text-about {
    margin-top: 60px;
}

.group-text-section-4 {
    top: 160px;
}

.image-button-3-size {
    border-radius: 50%;
    width: 9%;
    top: 375px;
    position: absolute;
    left: 650px;
    z-index: 1;
    animation: ripple 1000ms infinite;
    -webkit-animation: ripple 1000ms infinite;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@keyframes ripple {
    0% {
      box-shadow: 0 0 0 0px rgba(255, 255, 255, 0), 0 0 0 0px rgba(234, 35, 48, 0.5), 0 0 0 0px rgba(255, 255, 255, 0), 0 0 0 0px rgba(234, 35, 48, 0.5), 0 0 0 0px rgba(255, 255, 255, 0), 0 0 0 0px rgba(234, 35, 48, 0.5), 0 0 0 0px rgba(255, 255, 255, 0), 0 0 0 0px rgba(234, 35, 48, 0.5);
    }
    100% {
      box-shadow: 0 0 0 15px rgba(255, 255, 255, 0), 0 0 0 17px rgba(255,255,255,0), 0 0 0 40px rgba(255, 255, 255, 0), 0 0 0 42px rgba(255,255,255,0), 0 0 0 70px rgba(255, 255, 255, 0);
    }
  }
  



@media (max-width: 1550px) {
    /* .image-page-2-size {
        width: 85%;
        margin-top: -370px;
        margin-left: 365px;
    } */

    .image-section-2-size {
        width: 85%;
        left: 520px;
        top: -270px;
    }

    .image-button-2-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 105px;
        z-index: 1;
        border-radius: 50%;
        animation: ripple 1000ms infinite;
        -webkit-animation: ripple 1000ms infinite;
    }
    
    .card-red-page-2 {
        width: 320px;
        top:-485px;
        right: -360px;
        background-color: #EA2330;
        color: #fff;
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        position: relative;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    .card-text {
        margin-top: 50px;
    }
    
}

@media (max-width: 1440px) {

    .image-section-2-size {
        width: 85%;
        left: 450px;
        top: -270px;
    }

    .image-button-2-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 105px;
        z-index: 1;
    }
    
    .card-red-page-2 {
        width: 320px;
        top:-485px;
        right: -295px;
        background-color: #EA2330;
        color: #fff;
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        position: relative;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    .card-text {
        margin-top: 50px;
    }

    .text-summary {
        color: #fff;
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        top: -380px;
        right: 50px;
    }
}


@media (max-width: 1199.98px) {
    .image-section-2-size {
        width: 70%;
        left: 380px;
        top: -270px;
    }

    .image-button-2-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 105px;
        z-index: 1;
    }
    
    .card-red-page-2 {
        width: 320px;
        top: -435px;
        right: -225px;
        background-color: #EA2330;
        color: #fff;
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        position: relative;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    .card-text {
        margin-top: 50px;
    }

    .text-summary {
        color: #fff;
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        top: -380px;
        right: 100px;
    }

    .card-red-page-4 {
        left: 620px;
        width: 348px;
        top: 160px;
        right: 0px;
        background-color: #EA2330;
        color: #fff;
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        position: relative;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    
    .image-button-4-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 125px;
        z-index: 1;
    }
    
    
    .group-text-section-4 {
        top: 160px;
    }


}

@media (min-width: 992px) {}

@media (max-width: 991.98px) {
    .image-section-2-size {
        width: 80%;
        left: 155px;
        top: 40px;
    }

    .image-button-2-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 105px;
        z-index: 1;
    }
    
    .card-red-page-2 {
        width: 320px;
        top: -135px;
        left: 0px;
        background-color: #EA2330;
        color: #fff;
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        position: relative;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    .card-text {
        margin-top: 50px;
    }

    .text-summary {
        color: #fff;
        font-size: 50px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        top: -85px;
        right: -35px;
    }

    .hr-custom-summary {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        position: absolute;
        top: 60px;
        right: 160px;
    }

    .bg-section-3 {
        margin-top: 0;
    }

    .bg-section-3 {
        margin-top: 0px;
    }
    
    .group-parents-section-3 {
        align-items: center;
        padding-top: 150px;
    }

    .hr-custom-about {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        margin-top: 250px;
        margin-left: 0;
      }
    .card-red-page-4 {
        left: 180px;
        width: 348px;
        top: -55px;
        right: 0px;
        background-color: #EA2330;
        color: #fff;
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        position: relative;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    
    .image-button-4-size {
        width: 25%;
        top: -45px;
        position: absolute;
        left: 125px;
        z-index: 1;
    }
    
    .text-about {
        margin-top: 60px;
    }
    
    .group-text-section-4 {
        top: -60px;
    }

    .image-button-3-size {
        width: 13%;
        top: 720px;
        position: absolute;
        left: 300px;
        z-index: 1;
    }
}

@media (max-width: 768px) {


    .text-topic-present {
        color: #fff;
        font-size: 30px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        margin-top: 17px;
    }
    .image-section-2-size {
        width: 100%;
        left: 0;
    }

    .image-button-2-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 105px;
        z-index: 1;
    }
    
    .card-red-page-2 {
        width: 320px;
        top: 110px;
        left: 105px;
        background-color: #EA2330;
        color: #fff;
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        position: relative;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    .card-text {
        margin-top: 50px;
    }

    .text-summary {
        color: #fff;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        top: 175px;
        right: 10px;
    }

    .hr-custom-summary {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        position: absolute;
        top: 245px;
        right: 100px;
    }

    .bg-section-3 {
        margin-top: 170px;
    }

    .card-red-page-4 {
        left: 80px;
        width: 348px;
        top: -55px;
        right: 0px;
        background-color: #EA2330;
        color: #fff;
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        position: relative;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    
    .image-button-3-size {
        width: 13%;
        top: 580px;
        position: absolute;
        left: 220px;
        z-index: 1;
    }
}

@media (max-width: 767.98px) {

    .group-text-section-1-right {
        float: left;
    }
    
    .image-section-2-size {
        width: 100%;
        left: 0;
    }

    .image-button-2-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 105px;
        z-index: 1;
    }
    
    .card-red-page-2 {
        width: 320px;
        top: 110px;
        left: 105px;
        background-color: #EA2330;
        color: #fff;
        font-family: 'Karla', sans-serif;
        font-size: 14px;
        position: relative;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    .card-text {
        margin-top: 50px;
    }

    .text-summary {
        color: #fff;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        top: 175px;
        right: 10px;
    }

    .hr-custom-summary {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        position: absolute;
        top: 245px;
        right: 100px;
    }

    .bg-section-3 {
        margin-top: 170px;
    }
    
}

@media (max-width: 575.98px) {

    .image-section-2-size {
        width: 100%;
        left: 0;
    }

    .image-button-2-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 105px;
        z-index: 1;
    }
    
    .card-red-page-2 {
        width: 320px;
        top: 110px;
        left: 50px;
        background-color: #EA2330;
        color: #fff;
        font-family: 'Karla', sans-serif;
        font-size: 14px;
        position: relative;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    .card-text {
        margin-top: 50px;
    }

    .text-summary {
        color: #fff;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        top: 175px;
        right: 10px;
    }

    .hr-custom-summary {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        position: absolute;
        top: 245px;
        right: 100px;
    }

    .bg-section-3 {
        margin-top: 170px;
    }


    .hr-custom-about {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        margin-top: 80px;
        margin-left: 0;
      }
    .card-red-page-4 {
        left: 45px;
        width: 348px;
        top: -55px;
        right: 0px;
        background-color: #EA2330;
        color: #fff;
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        position: relative;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    
    .image-button-4-size {
        width: 25%;
        top: -45px;
        position: absolute;
        left: 125px;
        z-index: 1;
    }
    
    .text-about {
        margin-top: 60px;
    }
    
    .group-text-section-4 {
        top: -60px;
    }
    
    .image-button-3-size {
        width: 13%;
        top: 605px;
        position: absolute;
        left: 240px;
        z-index: 1;
    }
}

@media (max-width: 520px) {
    .image-button-3-size {
        width: 13%;
        top: 555px;
        position: absolute;
        left: 240px;
        z-index: 1;
    }
}


@media (max-width: 460px) {

    .card-red-page-4 {
        left: 5px;
        width: 348px;
        top: -55px;
        right: 0px;
        background-color: #EA2330;
        color: #fff;
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        position: relative;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }

    .image-button-3-size {
        width: 13%;
        top: 515px;
        position: absolute;
        left: 240px;
        z-index: 1;
    }


}

@media (max-width: 430px) {
    .image-section-2-size {
        width: 100%;
        left: 0;
    }

    .image-button-2-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 105px;
        z-index: 1;
    }
    
    .card-red-page-2 {
        width: 320px;
        top: 110px;
        left: 30px;
        background-color: #EA2330;
        color: #fff;
        font-family: 'Karla', sans-serif;
        font-size: 14px;
        position: relative;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    .card-text {
        margin-top: 50px;
    }

    .text-summary {
        color: #fff;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        top: 175px;
        right: 10px;
    }

    .hr-custom-summary {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        position: absolute;
        top: 245px;
        right: 100px;
    }

    .bg-section-3 {
        margin-top: 170px;
    }

    .image-button-3-size {
        width: 13%;
        top: 490px;
        position: absolute;
        left: 200px;
        z-index: 1;
    }
    

}

@media (max-width: 390px) {
    .image-section-2-size {
        width: 100%;
        left: 0;
    }

    .image-button-2-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 90px;
        z-index: 1;
    }
    
    .card-red-page-2 {
        width: 280px;
        top: 110px;
        left: 30px;
        background-color: #EA2330;
        color: #fff;
        font-family: 'Karla', sans-serif;
        font-size: 14px;
        position: relative;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    .card-text {
        margin-top: 50px;
    }

    .text-summary {
        color: #fff;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        top: 175px;
        right: 10px;
    }

    .hr-custom-summary {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        position: absolute;
        top: 245px;
        right: 100px;
    }

    .bg-section-3 {
        margin-top: 190px;
    }

    .hr-custom-about {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        margin-top: 70px;
        margin-left: 0;
      }
    .card-red-page-4 {
        left: 0px;
        width: 348px;
        top: -55px;
        right: 0px;
        background-color: #EA2330;
        color: #fff;
        font-family: 'Karla', sans-serif;
        font-size: 20px;
        position: relative;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    
    .image-button-4-size {
        width: 25%;
        top: -45px;
        position: absolute;
        left: 125px;
        z-index: 1;
    }
    
    .text-about {
        margin-top: 60px;
    }
    
    .group-text-section-4 {
        top: -60px;
    }

    .image-button-3-size {
        width: 13%;
        top: 450px;
        position: absolute;
        left: 150px;
        z-index: 1;
}




}



@media (max-width: 340px) {

    .image-section-2-size {
        width: 100%;
        left: 0;
    }

    .image-button-2-size {
        width: 30%;
        top: -45px;
        position: absolute;
        left: 90px;
        z-index: 1;
    }
    
    .card-red-page-2 {
        width: 280px;
        top: 110px;
        left: 0;
        background-color: #EA2330;
        color: #fff;
        font-family: 'Karla', sans-serif;
        font-size: 14px;
        position: relative;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
    
    .card-text {
        margin-top: 50px;
    }

    .text-summary {
        color: #fff;
        font-size: 25px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        top: 175px;
        right: 10px;
    }

    .hr-custom-summary {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        position: absolute;
        top: 245px;
        right: 100px;
    }

    .bg-section-3 {
        margin-top: 170px;
    }

    .hr-custom-about {
        border: 0;
        background-color: red;
        width: 50px;
        height: 10px;
        margin-top: 70px;
        margin-left: 0;
      }
    .card-red-page-4 {
        left: 0px;
        width: 285px;
        top: -55px;
        right: 0px;
        background-color: #EA2330;
        color: #fff;
        font-family: 'Karla', sans-serif;
        font-size: 16px;
        position: relative;
        border-radius: 5px;
        -webkit-border-radius: 5px;
    }
    
    .image-button-4-size {
        width: 25%;
        top: -45px;
        position: absolute;
        left: 100px;
        z-index: 1;
    }
    
    .text-about {
        margin-top: 60px;
    }
    
    .group-text-section-4 {
        top: -60px;
    }

    .image-button-3-size {
        width: 13%;
        top: 415px;
        position: absolute;
        left: 200px;
        z-index: 1;
    }

}

@media (max-width: 320px){
    .image-button-3-size {
        width: 13%;
        top: 400px;
        position: absolute;
        left: 135px;
        z-index: 1;
    }
}



